# Pip install
pip install pymysql pandas numpy sqlalchemy

In [22]:
import numpy as np
import pandas as pd
import requests
import subprocess
import pymysql
import re
from datetime import datetime

In [23]:
def clean_column_names(column):
    column = column.replace(' ', '_')   # Replace spaces with underscores
    column = column.lower()             # Convert to lowercase
    column = column.replace('(', '')    # Remove opening brace
    column = column.replace(')', '')    # Remove closing brace
    return column

# 1. Company Data
## 1.1. Load data & Initialized filter
* filter empty name, description, websit, location_country
* fill empty industry, investment_stage, location_city, location_state, number_of_employees
* lowercase industry and convert to list

In [24]:
company_df = pd.read_csv("companies.csv")

# 1. Apply the function to all column names
company_df.columns = [clean_column_names(col) for col in company_df.columns]
# 2. remove column
company_df = company_df.drop(columns=['location_address'])
# 3. filter none
required_columns = ['name', 'website', 'location_country', 'description']
condition = (company_df[required_columns].isna() |
             company_df[required_columns].eq('') |
             company_df[required_columns].eq('-')).any(axis=1)
company_df = company_df[~condition]
# 4. fill na
company_df[["industry", "investment_stage", "location_city", "location_state"]] = company_df[["industry", "investment_stage", "location_city", "location_state"]].fillna('')
company_df["number_of_employees"] = company_df["number_of_employees"].fillna(0)

# 5. Format industry
def format_industry(text) -> list[str]:
    if text is None or text.strip() == '':
        return []
    return re.sub(';[ ]*', ';', text).split(";")

company_df["industry_lower"] = company_df["industry"].str.lower()
company_df["industry"] = company_df["industry"].apply(format_industry)
company_df["industry_lower"] = company_df["industry_lower"].apply(format_industry)

## 1.2. Remove if the company name duplicated and website is not available

In [25]:
def check_website(url):
    try:
        # Pinging the host (only once with a timeout of 5 seconds)
        result = subprocess.run(['ping', '-c', '1', '-W', '5', url], stdout=subprocess.PIPE, stderr=subprocess.PIPE)
        if result.returncode == 0:
            return True
        else:
            print(url)
            return False
    except Exception as e:
        print(url)
        return False

bad_websites = ['abstract.vc', 'kipu.health', 'next-insurance.com', 'quest.app', 'salvy.com.br', 'airbyte.com', 'trytandem.com', 'grata.com', 
                'upstreamsystems.com', 'hypertherm.com', 'hellostash.com', 'heyripple.com', 'stash.com', 'dialectica.us', 'boxypos.com', 
                'wmeagency.com', 'gratadata.com', 'theoneconduit.com', 'comcast.com', 'agei.st', 'blumeventures.com', 'am.jpmorgan.com', 
                'paynearme.com', 'nextinsurance.com', 'weareageist.com', 'tryklarity.com', 'quest.audio', 'dubclub.win', 'getconduit.com', 
                'jpl.jobs', 'stealthstartup.com']

to_be_redirect_websites = ['adagetechnologies.com', 'agentic.xyz', 'awsevents.com', 'bere.al', 'getcalliper.com', 'trychameleon.com', 'cohort.xyz', 
                           'coupang.jobs', 'deloitte.com', 'expanse.co', 'fiberai.xyz', 'goo.gle', 'helpscout.net', 'jvweb.com', 'krollbondratings.com', 
                           'lplfinancial.lpl.com', 'joinmagic.co', 'mcast.com', 'byteedge.com', 'getporter.dev', 'ujet.co', 'sen.gov', 
                           'game7films.com', 'dragonflycommerce.com', 'hellomilo.io', 'platformmgmt.com', 'lifeatspotify.com']
not_in_linkedin = ['headway.co', 'burklandinc.com', 'cedarrecruitment.com', 'verilymag.com', 'getswan.co', 'extend.app']
branches = ['yahooinc.com', 'mastercard.co.in', 'personio.de']
random_choose = ['king-realtygroup.com', 'leadix.com', 'sortit.ai', 'plugandplayaccelerator.es', 'strive.vc', 'ucsfbenioffchildrens.org']

final_company_df = company_df[~company_df['website'].isin(bad_websites + to_be_redirect_websites + not_in_linkedin + branches + random_choose)]

# duplicated_company_df = company_df.groupby(['name']).filter(lambda x: len(x) > 1)
# duplicated_company_df['website_available'] = duplicated_company_df['website'].apply(check_website)
# duplicated_company_df = duplicated_company_df[duplicated_company_df['website_available'] == False]
# final_company_df = company_df[~company_df['website'].isin(duplicated_company_df['website'])]

## 1.3. Validate there is no duplicated company name

In [26]:
duplicated_company_df = final_company_df.groupby(['name']).filter(lambda x: len(x) > 1)
assert(len(duplicated_company_df) == 0)

# 2. Load Connection Data
## 2.1. Load

In [27]:
connection_df = pd.read_csv("connections.csv")
connection_df.columns = [clean_column_names(col) for col in connection_df.columns]

formats = ('%d-%b-%y', '%d-%b-%Y', '%d %b %y', '%d %b %Y')
def convert_date(s):
    if s is None or len(s) == 0:
        return '1970-01-01'
    for fmt in formats:
        try:
            date_obj = datetime.strptime(s, fmt)
            return date_obj.strftime('%Y-%m-%d')
        except ValueError:
            continue
    return '1970-01-01'

connection_df['company'] = connection_df['company'].fillna('')
connection_required_columns = ['url', 'first_name', 'company', 'position', 'intro_provider_name']
connection_condition = (connection_df[connection_required_columns].isna() |
                        connection_df[connection_required_columns].eq('') |
                        connection_df[connection_required_columns].eq('-')).any(axis=1)
connection_df = connection_df[~connection_condition]

connection_df[['last_name', 'email_address', 'connected_on']] = connection_df[['last_name', 'email_address', 'connected_on']].fillna('')
connection_df['connected_on'] = connection_df['connected_on'].apply(convert_date)

## 2.2. Aggregation

In [28]:
final_connection_df = connection_df.sort_values(by='connected_on', ascending=False)
# Define aggregation functions
aggregation_functions = {
    'first_name': 'first',
    'last_name': 'first',
    'email_address': 'first',
    'company': 'first',
    'position': 'first',
    'intro_provider_name': lambda x: list(x)
}

# Group by 'url' and apply the aggregation functions
final_connection_df = final_connection_df.groupby('url').agg(aggregation_functions).reset_index()

In [29]:
final_connection_df.count()

url                    34774
first_name             34774
last_name              34774
email_address          34774
company                34774
position               34774
intro_provider_name    34774
dtype: int64

# 3. Extract Helper data

## 3.1. Extract countries

In [30]:
country_df = pd.DataFrame(final_company_df["location_country"].unique(), columns=['name'])
country_df['name'] = country_df[country_df['name'] != '']

# 3.2. Extract Industries

In [31]:
industry_df = pd.DataFrame(final_company_df["industry"].explode().unique().tolist(), columns=['name'])
industry_condition = (industry_df[['name']].isna() |
             industry_df[['name']].eq('') |
             industry_df[['name']].eq('-')).any(axis=1)
industry_df = industry_df[~industry_condition]

## 3.3. Extract Funding stages

In [32]:
investment_stage_df = pd.DataFrame(final_company_df["investment_stage"].unique(), columns=['name'])
investment_stage_condition = (investment_stage_df[['name']].isna() |
                              investment_stage_df[['name']].eq('') |
                              investment_stage_df[['name']].eq('-')).any(axis=1)
investment_stage_df = investment_stage_df[~investment_stage_condition]

# 4. Load to MySQL

## 4.1. Connect to MySQL

In [33]:
from sqlalchemy import create_engine, Engine, Table, Column, Integer, String, Text, Boolean, MetaData, sql, Index, JSON

mysql_connection_string = f'mysql+pymysql://findintro:findintro@localhost:3306/findintro'
mysql_engine: Engine = create_engine(mysql_connection_string)

## 4.2. Load company

In [34]:
companies_metadata = MetaData()
companies_table = Table('companies', companies_metadata,
                      Column('organization_id', Integer, primary_key=True),
                      Column('name', String(256), nullable=False),
                      Column('website', String(256), nullable=False),
                      Column('description', Text),
                      Column('number_of_employees', Integer),
                      Column('investment_stage', String(128)),
                      Column('location_city', String(128)),
                      Column('location_state', String(128)),
                      Column('location_country', String(128), nullable=False),
                      Column('industry', JSON),
                      Column('industry_lower', JSON),
                      Index('company_idx_name', 'name'))
companies_metadata.create_all(mysql_engine)

with mysql_engine.begin() as mysql_con:
    mysql_con.execute(sql.text("TRUNCATE TABLE companies"))
    mysql_con.execute(companies_table.insert(), final_company_df.to_dict(orient='records'))

## 4.3. Load Connection

In [35]:
connections_metadata = MetaData()
connections_table = Table('connections', connections_metadata,
                      Column('id', Integer, primary_key=True, autoincrement=True),
                      Column('url', String(512), nullable=False),
                      Column('first_name', String(128), nullable=False),
                      Column('last_name', String(128)),
                      Column('email_address', String(128)),
                      Column('company', String(256)),
                      Column('position', String(256)),
                      Column('job_function', String(256)),
                      Column('job_seniority', String(256)),
                      Column('job_country', String(128)),
                      Column('intro_provider_name', JSON),
                      Index('connection_idx_url', 'url'), Index('connection_idx_company', 'company'))
connections_metadata.create_all(mysql_engine)

with mysql_engine.begin() as mysql_con:
    mysql_con.execute(sql.text("TRUNCATE TABLE connections"))
    mysql_con.execute(connections_table.insert(), final_connection_df.to_dict(orient='records'))

## 4.4. Load Countries

In [36]:
countries_metadata = MetaData()
countries_table = Table('countries', countries_metadata,
                      Column('id', Integer, primary_key=True, autoincrement=True),
                      Column('name', String(128), nullable=False))
countries_metadata.create_all(mysql_engine)

with mysql_engine.begin() as mysql_con:
    mysql_con.execute(sql.text("TRUNCATE TABLE countries"))
    mysql_con.execute(countries_table.insert(), country_df.to_dict(orient='records'))

## 4.5. Load Industries

In [37]:
industries_metadata = MetaData()
industries_table = Table('industries', industries_metadata,
                      Column('id', Integer, primary_key=True, autoincrement=True),
                      Column('name', String(128), nullable=False))
industries_metadata.create_all(mysql_engine)

with mysql_engine.begin() as mysql_con:
    mysql_con.execute(sql.text("TRUNCATE TABLE industries"))
    mysql_con.execute(industries_table.insert(), industry_df.to_dict(orient='records'))

## 4.6. Load Investement stagges

In [38]:
investment_stages_metadata = MetaData()
investment_stages_table = Table('investment_stages', investment_stages_metadata,
                      Column('id', Integer, primary_key=True, autoincrement=True),
                      Column('name', String(128), nullable=False))
investment_stages_metadata.create_all(mysql_engine)
investment_stage_df = investment_stage_df.sort_values(by=['name'])
with mysql_engine.begin() as mysql_con:
    mysql_con.execute(sql.text("TRUNCATE TABLE investment_stages"))
    mysql_con.execute(investment_stages_table.insert(), investment_stage_df.to_dict(orient='records'))

## 3. TODO Extract function and seniority from position

In [39]:
import json
import logging
import re
from io import StringIO

from openai import OpenAI
from openai.lib.streaming import AssistantEventHandler
from typing_extensions import override

instructions = f'''
You are a recruiter and have rich experience on searching from Linkedin.com. 

I will provide you job position list(id, position).

Your task is to extract the best job functions and a job seniority of every item. Thus I can be search on Linkin.com based on the job functions and job security effectively.


Terminology
======
Job Function: 
Job Function refers to the specific role or set of responsibilities that an employee has within an organization. LinkedIn organizes job functions into various categories to help users and recruiters identify roles and responsibilities more effectively. Here’s a look into some of these job functions with examples.
- Software Engineer: Develops software applications.
- Marketing Manager: Plans and executes marketing strategies.
- Business Development Manager: Identifies growth opportunities.
- Financial Analyst: Analyzes financial data.
- Recruiter: Finds and hires candidates.
- Network Administrator: Manages network infrastructure.

Job Seniority:
Job Seniority indicates the level or rank of an employee within the organizational hierarchy. It typically represents the level of experience, responsibility, and authority the employee has. LinkedIn uses seniority levels to help users understand the career stage associated with a role. Common seniority levels include:
- Entry-Level: Little to no professional experience, basic tasks.
- Mid-Level: Moderate experience, more complex tasks.
- Senior-Level: High experience, leadership and decision-making.
- Manager: Manages teams or departments, oversees operations.
- Director: Senior management, strategic planning, and oversight.
- Executive: Top-level roles like CEO, COO, CFO, directing overall strategy and management.


job position list
======
15, Chairman and Chief Connectivity Officer (formerly Chief Collaboration Officer and CEO)
16, Founder, Online Dating Consultant
17, Operations Manager
18, Creator and Productivity Executive Coach

The output is a json list of dict, without any additional and markdown information.
item dict keys are: id:int, job_functions: list[str], job_seniority:str
'''

# openai: OpenAI = OpenAI(api_key='sk')
# assistant_id = openai.beta.assistants.create(model='gpt-4o', temperature=0.7, name='extract-function-seniority', instructions=instructions).id
# thread_id = openai.beta.threads.create().id